.taskBoxincomplete {
    width: 90%;
    background: #2F2F2F;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0,0,0.8);
}
.taskBoxcomplete {
    width: 90%;
    background: #202020;
    border: 1.5px #7AB530 solid;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

.taskBoxUpper {
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.taskBoxUpper>p {
    color: #FFFFFF;
    margin: 0%;
}

.CheckCircle{
    background-color: #202020;
    color: #7AB530;
    height: 24px;
    width: 24px;
    position: relative;
    left: 38px;
    border-radius: 100%;

}

.dividingLine {
    width: 100%;
    border-bottom: 1.75px solid #5c5c5c;
}

.taskBoxLower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.markCompleted {
    width: 65%;
    padding: 5px 5px;
}

.incomplete {
    width: 100%;
    height: 100%;
    background: #C620A7;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.completed{
    width: 100%;
    height: 100%;
    background: #202020;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    border: none;
    
}
.deleteTask>button{
    width: 100%;
    height: 100%;
    background: none;
    color: #AFAFAF;
    padding: 8px;
    border: none;
}