body {
  background: #171717;
  font-family: sans-serif;
}

.todo_list {
  color: #FFFFFF;
  margin: 2%;
}

.todo_list>h1 {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: max-content;
}
.add_task{
  margin-left: 7%;
  margin-right: 35%;
}
.add_task_text{
  color: #FFFFFF;
}
.create_task{
  display: flex; 
  margin-top: 5%;
}
.task_title{
  width: 80%;
}
.task_title>input{
  width: 85%;
  background-color: #70706e;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 7px; 
  border: none;
  outline: none;
}
::placeholder{
  color: #ffffff;
}
.submit_task{
  width: 20%;
}
.submit_task>button{
  width: 100px;
  height: 100%;
  background: #C620A7;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}
.submit_task>button:hover{
  cursor: pointer;
}
.tasks_section{
  margin: 6% 6%;
}
.taskSectionTitle{
  display: flex;
  justify-content: space-between  ;
}
.taskSectionTitle>p{
  color: #FFFFFF;
  font-size: 18px;
}
.filter{
  display: flex;
  align-items: center;
}
.filter>input{
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}
.filter>label{
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
}
.tasksContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content{
  width: 33%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;

}
@media (max-width:1080px)
{
  .content{
    width: 50%;
  }
}
@media (max-width:560px)
{
  .content{
    width: 100%;
  }
}
.index{
  width: 5%;
  padding: 20px 3px;
  color: #FFFFFF;
  margin-left: 10px;
}
